.listView{
    display: flex;
    justify-content: space-around;
}


.delete{
    width: 100px;
    height: 50px;
    background-color: black;
    color: red;
    border: 1px solid red;
    border-radius: 15px;
    font-size: 20px;
}


.add{
    width: 100px;
    height: 50px;
    background-color: black;
    color: blue;
    border: 1px solid blue;
    border-radius: 15px;
    font-size: 20px;
}



